<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.2.xsd">
 <bean id="userDao4Mysql" class="dao.UserDao4MySqlImpl"></bean>
 <bean id="userDao4Oracle" class="dao.UserDao4Oracle"></bean>
 <bean id="userManager" class="manager.UserManagerImpl" >
 	<!-- <constructor-arg ref="userDao4Mysql"></constructor-arg> -->
 	<property name="userDao1" ref="userDao4Oracle"></property>
 </bean>
</beans>
